@import 'tailwindcss';
@tailwind utilities;
@config '../../tailwind.config.js';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-main: var(--font-sora), var(--font-manrope), sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.swiper-pagination {
  position: relative;
  margin-top: 20px !important;
  bottom: 0px !important;
  z-index: 300;
}

.swiper-pagination-bullet {
  padding: 8px;
  background: #fe5716;
  opacity: 0.6;
}
.swiper-pagination-bullet-active {
  background-color: #ff6a00 !important;
  transform: scale(1.3);
}
